[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/minerva1129/tmux-powerline.git
[submodule "vimpager"]
	path = vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
