[user]
	name = MinervaP
	email = GoddessMinervaP@gmail.com
[core]
	excludesfile = /Users/Minerva/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
  autoCRLF = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
[push]
	default = simple
