[user]
    name = minerva1129
    email = GoddessMinervaP@gmail.com
[core]
    excludesfile = /Users/Minerva/.gitignore_global
    editor = vim -c \"set fenc=utf-8\"
    pager = vimpager
    autoCRLF = false
[color]
    ui = auto
[alias]
    co = checkout
[push]
    default = simple
[credential]
    helper = cache --timeout=3600
