[user]
    name = minerva1129
    email = goddessminervap@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    autoCRLF = false
[color]
    ui = auto
[alias]
    co = checkout
[push]
    default = simple
[credential]
    helper = cache --timeout=3600
[ghq]
    root = ~/src
